@import '../base/mixin.scss';
@import '../base/variables.scss';

*{
    font-family: 'Rubik' , sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1492px;
    margin: 0 auto;
}

main{
    overflow: hidden;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $white;
}

.no-scroll {
    overflow: hidden; /* Отключает прокрутку страницы */
}

h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
// Здесь имортируем правила стилизации для секций сайта
@import '../base/media.scss';